body {
    background: #F8F8F8 !important;
}

.nav {
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
    background-color: #396afc !important; 
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mymodal {
    height: 300px !important;
    top: 200px !important;
    font-size: 20px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.w-big {
    width: 200px !important;
}

.bwhite-lg {
    background-color: transparent !important;
}

.bwhite-sm {
    background-color: transparent !important;
    width: 10px !important;
}

.comment-box {
    display: none;
}

header {
   color: white;
   text-align: center;
   /*padding: 180px 0;*/
   /*background-size: cover;*/
   /*background-position: 0 100%;*/
   /*background-image: url(../static/sonet1.jpg);*/
   background: url(../static/sonet1.jpg)no-repeat center;
   /*position: relative;*/
   background-size: cover;
   min-height: 30em;
   /*min-height: 60em;*/
}


